
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #642f2f;
}

.header {
    text-align: right;
    padding: 10px;
}

.name {
    font-size: 32px;
    font-weight: bold;
    color: #fffbfb;
}

.photo {
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 5px;
}

.section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #280980;
}

p {
    color: #7a3232;
}

#download_Button{
    position: relative;
    margin-left: 45%;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: #41dfff;
}
